.button {
    position: fixed;
    right: 9%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: #0284c7;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 12;

    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display:block;
            width: 40%;
            background-color: white;
            height: 1px;
            margin: auto;
            position: relative;
            transition: all 0.3s;
        }

        &::after{
            top: -5px;
        }
        &::before{
            top: 5px;
        }
    }

    .burgerActive{
        &::after{
            top:-1px;
            transform: rotate(45deg);
        }&::before{
            top: 1px;
            transform: rotate(-45deg);
        }
    }
}
